/* 
    Document   : test
    Created on : 29.09.2012., 17.18.16
    Author     : steewsc
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

