@charset "utf-8";

#css_tweeker{
	opacity: 0.9;
	position: absolute;
	width: 310px;
	float: left;
	z-index: 20;
	top: 150px;
	left: 0px;
	color: white;
	background-color: #292929;
}
#toggle_holder{
	width: 100%;
}
#toggle_tools{
	float: left;
	width: 100%;
	height: 20px;
	cursor: pointer;
}
#toggle_tools:hover{
	color:#FF2312;
}
#tweek_tools label{
	float:left;
}
#css_file{
	width: 200px;
	float: left;
}
#tags_filter{
	width: 281px;
	height: 21px;
}
#tag_name{
	width: 200px;
	float: left;
}
#filter{
	width:75px;
	height:22px;
	background-color: #7C7C7C;
	color:#1F1F1F;
	position:relative;
	left: 20px;
	float: right;
	text-align: center;
	cursor:pointer;
	padding-top: 3px;
}
#filter:hover{
	color:#FFF;
}
#flitered{
	width: 302px;
	float:left;
}
.css_params{
	width: 42%;
}
#modify{
	width: 75px;
	height: 20px;
	background-color: #7C7C7C;
	color: #1F1F1F;
	position: relative;
	left: 3px;
	float: left;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
	margin-bottom: 3px;
	display:none;
}
#modify:hover{
	color:#FFF;
}
#save{
	width: 117px;
	height: 20px;
	background-color: #729C3E;
	color: #1F1F1F;
	position: relative;
	right: 3px;
	float: right;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
	margin-bottom: 3px;
	display:none;
}
#save:hover{
	color:#FFF;
}

#add_new_prop{
	width: 98%;
	height: 20px;
	background-color: #7C7C7C;
	color: #1F1F1F;
	position: relative;
	left: 3px;
	float: left;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
	margin-bottom: 3px;
	display:none;
}
#add_new_prop:hover{
	color:#FFF;
}
#add_new{
	width: 28%;
	height: 19px;
	background-color: #7C7C7C;
	color: #1F1F1F;
	position: relative;
	left: 3px;
	float: right;
	text-align: center;
	cursor: pointer;
	padding-top: 1px;
	margin-bottom: 3px;
	margin-right: 3px;
	display:none;
}
#add_new:hover{
	color:#FFF;
}
.tag_prop{
	width: 154px;
	cursor: pointer;
	float: left;
}
.tag_prop:hover{
	color:yellow;
}